<div class="top-band"></div>
<div class="bottom-band"></div>

<div class="its-header">
  <img src="logo/Logo-ITS-1.svg" class="logo-its">
  <img src="logo/cropped-Javicon-Renaudie.svg" class="logo-phi">
  <img src="logo/LaFTiFA1.svg" class="logo-laftifa">
</div>

<div class="motto">
  <div>"The Beauty of Mind"</div>
  <div class="motto-second">"The Art of Thinking"</div>
</div>


<!-- <div class="footer-left">
  www.its.ac.id
</div>

<div class="footer-right">
  INSTITUT TEKNOLOGI SEPULUH NOPEMBER, Surabaya - Indonesia
</div> -->
<div class="footer-left"></div>

<div class="footer-right">
  INSTITUT TEKNOLOGI SEPULUH NOPEMBER, Surabaya - Indonesia
</div>

<script>
(function () {
  const interval = setInterval(() => {
    const slideNum = document.querySelector(".slide-number");
    const footerLeft = document.querySelector(".footer-left");

    if (slideNum && footerLeft) {
      footerLeft.appendChild(slideNum);
      clearInterval(interval);
    }
  }, 100);
})();
</script>